<!DOCTYPE html>
<html>
<head>
	<!-- Standard Metadata -->
	<title>placemonkey</title>
	<meta name="description" content="Placeholder images of monkeys for web developers">
	<meta name="author" content="Kevin Elliott (http://kevinelliott.net)">
	<meta name="keywords" content="monkeys, placeholders, images, monkies, apes, gorillas, monkey">
	<meta name="copyright" content="People all over the internet.">
	<meta name="robots" content="all">
	<meta name="viewport" content="width=device-width; initial-scale=1.0;">

	<!-- Open Graph Metadata -->
	<meta property="og:site_name" content="placemonkey">
	<meta property="og:title" content="placemonkey">
	<meta property="og:description" content="Placeholder images of monkeys for web developers">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://placemonkey.heroku.com/100/100">
	<meta property="og:url" content="http://placemonkey.heroku.com">

	<!-- Navigation -->
	<link rel="home" href="/">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>